In [1]:
cd Desktop/Intro\ To\ Python

/Users/sagarsahoo/Desktop/Intro To Python

In [2]:
cd python-for-ds-course-spring-2020/data/

/Users/sagarsahoo/Desktop/Intro To Python/python-for-ds-course-spring-2020/data

In [3]:
import pandas as pd

planes = pd.read_csv('planes.csv')
flights = pd.read_csv('flights.csv')

In [8]:
planes.head()

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan

In [7]:
flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00

In [6]:
flights['dep_delay'].mean()

12.639070257304708

In [9]:
flights.groupby(['carrier'])['dep_delay'].mean().reset_index()

   carrier  dep_delay
0       9E  16.725769
1       AA   8.586016
2       AS   5.804775
3       B6  13.022522
4       DL   9.264505
5       EV  19.955390
6       F9  20.215543
7       FL  18.726075
8       HA   4.900585
9       MQ  10.552041
10      OO  12.586207
11      UA  12.106073
12      US   3.782418
13      VX  12.869421
14      WN  17.711744
15      YV  18.996330

In [11]:
flights.groupby(['carrier']).agg({'dep_delay':['mean', 'min', 'max','median']})

         dep_delay
              mean   min     max median
carrier
9E       16.725769 -24.0   747.0   -2.0
AA        8.586016 -24.0  1014.0   -3.0
AS        5.804775 -21.0   225.0   -3.0
B6       13.022522 -43.0   502.0   -1.0
DL        9.264505 -33.0   960.0   -2.0
EV       19.955390 -32.0   548.0   -1.0
F9       20.215543 -27.0   853.0    0.5
FL       18.726075 -22.0   602.0    1.0
HA        4.900585 -16.0  1301.0   -4.0
MQ       10.552041 -26.0  1137.0   -3.0
OO       12.586207 -14.0   154.0   -6.0
UA       12.106073 -20.0   483.0    0.0
US        3.782418 -19.0   500.0   -4.0
VX       12.869421 -20.0   653.0    0.0
WN       17.711744 -13.0   471.0    1.0
YV       18.996330 -16.0   387.0   -2.0

In [12]:
flights.groupby(['carrier']).agg({'dep_delay':['mean'],'air_time':['median']})

         dep_delay air_time
              mean   median
carrier
9E       16.725769     83.0
AA        8.586016    169.0
AS        5.804775    324.0
B6       13.022522    142.0
DL        9.264505    145.0
EV       19.955390     87.0
F9       20.215543    229.0
FL       18.726075    109.0
HA        4.900585    621.5
MQ       10.552041     83.0
OO       12.586207     68.0
UA       12.106073    197.0
US        3.782418     76.0
VX       12.869421    337.0
WN       17.711744    122.0
YV       18.996330     56.5

In [25]:
flights.groupby(['origin','dest']).agg({'carrier':['count']}).reset_index().sort_values(by=2,axis=1)

TypeError: '<' not supported between instances of 'numpy.ndarray' and 'str'

In [36]:
routes_df = flights.groupby(['origin','dest'])['carrier'].count().reset_index()

In [37]:
routes_df.sort_values(by='carrier',ascending=False)

    origin dest  carrier
117    JFK  LAX    11262
156    LGA  ATL    10263
204    LGA  ORD     8857
146    JFK  SFO     8204
170    LGA  CLT     6168
55     EWR  ORD     6100
92     JFK  BOS     5898
197    LGA  MIA     5781
120    JFK  MCO     5464
7      EWR  BOS     5327
74     EWR  SFO     5127
179    LGA  DTW     5040
16     EWR  CLT     5026
2      EWR  ATL     5022
42     EWR  MCO     4941
39     EWR  LAX     4912
177    LGA  DFW     4858
148    JFK  SJU     4752
175    LGA  DCA     4716
161    LGA  BOS     4283
108    JFK  FLL     4254
181    LGA  FLL     4008
116    JFK  LAS     3987
34     EWR  IAH     3973
26     EWR  FLL     3793
200    LGA  MSP     3713
176    LGA  DEN     3704
193    LGA  MCO     3677
95     JFK  BUF     3582
210    LGA  RDU     3581
..     ...  ...      ...
107    JFK  EGE      103
203    LGA  OMA       95
189    LGA  IND       87
221    LGA  TVC       77
214    LGA  SAV       68
52     EWR  MYR       56
167    LGA  CHO       52
59     EWR  PHL       49
182    LGA  GRR       46
144    JFK  SDF       46
12     EWR  BZN       36
83     EWR  TVC       24
36     EWR  JAC       23
136    JFK  PSP       19
180    LGA  EYW       17
164    LGA  BWI       15
51     EWR  MTJ       15
30     EWR  HDN       15
165    LGA  CAE       12
157    LGA  AVL       10
1      EWR  ANC        8
215    LGA  SBN        6
71     EWR  SBN        4
202    LGA  MYR        3
114    JFK  JAC        2
152    JFK  STL        1
40     EWR  LGA        1
191    LGA  LEX        1
121    JFK  MEM        1
90     JFK  BHM        1

[224 rows x 3 columns]